.App {
  text-align: center;
  content-align: center;
}

.headerText {
  text-align: center; 
  flote:center
  
} 

.desktop-message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full height of the viewport */
  text-align: center;
  background-color: #f9f9f9; /* Optional background color */
  color: #333; /* Text color */
  font-family: 'Arial', sans-serif; /* Font styling */
}
